# Default ignored files
/shelf/
/workspace.xml

# Gradle files
.gradle/
build/
out/
classes/

# IntelliJ IDEA files for Gradle projects
*.iml
*.ipr
*.iws

# Local Gradle configuration
gradle-app.setting

# Gradle cache
.gradletasknamecache

# Gradle Wrapper
!gradle-wrapper.jar
gradle-wrapper.properties

# Gradle Daemon
daemon-*.log